<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/meta'); -%>
	<link rel="stylesheet" href="/styles/index.css" />
	<script src="/scripts/index.js" defer></script>

</head>
<body>
	<div class="wrapper">
		<a href="/"><img src="/images/main.png"/></a>
		<div class="input">
			<i class="fa fa-search"></i>
			<input autocomplete="off" />
		</div>
		<div class="options">
			<button>Woogle Search</button>
			<button>I'm Feeling Lucky</button>
		</div>
	<div>
</body>