<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/meta'); -%>
	<link rel="stylesheet" href="/styles/index.css" />
	<script src="/scripts/index.js" defer></script>
</head>
<body>
	<div class="wrapper">
		<a href="/"><img src="/images/main.png"/></a>
		<h1 class="error">Whoops. Looks like you're lost.</h1>
	<div>
</body>